<nav class="nav">
    <div class="nav__inner">
        <div class="nav__brand">Passages</div>
        <div class="nav__year">✷ FW22</div>
        <div class="nav__credit">A tiny website by <a href="https://henry.codes">Henry From Online</a></div>
    </div>
</nav>