@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('/fonts/nhg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eiko';
    src: url('/fonts/PPEiko-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Eiko';
    src: url('/fonts/PPEiko-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

:root {
    --font-display: 'Eiko', serif;
    --font-text: 'Neue Haas Grotesk', 'Helvetica Neue', 'Helvetica', sans-serif;

    --color-neutral: #333;
    --color-neutral-secondary: #6b6b6b;
    --color-mid: #C8C8C8;
    --color-contrast: #fff;
    --color-contrast-secondary: #F7F7F7;
    --container-max: 89.75rem;
    --container-med: 71.625rem;
}

body {
    font-family: var(--font-text);
    color: var(--color-neutral);
    background-image:
        linear-gradient(to right,
            var(--color-contrast),
            var(--color-contrast) calc(1rem),
            var(--color-contrast-secondary) calc(1rem),
            var(--color-contrast-secondary) calc(1rem + 1px),
            var(--color-contrast) calc(1rem + 1px),
            var(--color-contrast) calc(100% - 1rem - 1px),
            var(--color-contrast-secondary) calc(100% - 1rem - 1px),
            var(--color-contrast) calc(100% - 1rem))
}

main {
    margin-top: 4.5rem;
    padding-bottom: 20rem;
    padding-inline: 1rem;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: auto;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border: 0;
}


.nav {
    line-height: 1.3;
    position: sticky;
    z-index: 2;
    top: 0;
    padding: 1rem;
    text-transform: uppercase;
    backdrop-filter: blur(.5rem);
    background-color: hsla(0, 0%, 100%, 80%);
}

.nav__inner {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: var(--container-max);
    margin-inline: auto;
}

.nav__credit {
    color: var(--color-neutral-secondary)
}

.nav__credit a {
    text-decoration: none;
    color: inherit;
    color: var(--color-neutral);
}

.nav__credit a:hover {
    text-decoration: underline;
}

.header-image {
    overflow: hidden;
    width: 100%;
    max-width: var(--container-max);
    height: 12rem;
    margin-bottom: 7.5rem;
    margin-inline: auto;
    border-radius: 1.5rem;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.table {
    max-width: var(--container-med);
    margin-bottom: 6rem;
    margin-inline: auto;
}

.year {
    font-size: .75rem;
    font-weight: normal;
    font-feature-settings: "tnum" on;
    margin-bottom: 3rem;
}

.passage-list {
    list-style: none;
}

.passage {
    position: relative;
    margin-bottom: 1rem;
    scroll-margin-top: 4rem;
}

.passage-title-wrapper {
    position: relative;
    display: inline-block;
}

.passage-title {
    font-family: var(--font-display);
    font-weight: 200;
    font-size: clamp(1rem, 5.8vw, 3rem);
    line-height: 1;
    display: inline-block;
}

.passage-title--wip {
    font-style: italic;
}

.passage-title small {
    font-size: .5em;
    color: var(--color-mid);
}

.passage-title-tag {
    font-size: .75rem;
    line-height: .9;
    display: inline-block;
    margin-left: .5rem;
    padding: 2px 4px;
    white-space: nowrap;
    text-transform: uppercase;
    border: 1px solid currentColor;
    background-color: var(--color-contrast);
}

.passage-description {
    font-size: .75rem;
    font-size: clamp(0.75rem, 1.16rem + -0.833vw, 1rem);
    line-height: 1.3;
    max-width: 17rem;
    margin-bottom: .5rem;
}

.passage-link {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    color: inherit;
    border-radius: .5rem;
}

.passage-link:focus {
    outline: 1px solid currentColor;
    outline-offset: .5rem 2rem;
}

.passage-link--disabled {
    cursor: wait;
}

.social-icons {
    position: relative;
    z-index: 2;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    list-style: none;

    gap: .75rem;
}

.social-icons:empty {
    display: none;
}

.social-icon {
    width: 1rem;
}

.social-icon svg {
    width: 100%;
}

.social-icon__link {
    cursor: pointer;
    color: inherit;
}

@media (min-width: 32rem) {
    .header-image {
        height: 16.5rem;
    }

    .table {
        display: grid;
        grid-column-gap: 1rem;
        grid-template-columns: repeat(10, 1fr);
        align-items: first baseline;
    }

    .year {
        position: sticky;
        top: 5rem;
        margin-bottom: 0;
    }

    .passage-list {
        grid-column-end: span 9;
    }
}

@media (min-width: 50rem) {
    .nav__inner {
        grid-column-gap: 1rem;
        grid-template-columns: repeat(10, 1fr);
    }

    .nav__brand {
        grid-column-end: span 2;
    }

    .nav__credit {
        grid-column-start: 6;
        grid-column-end: span 5;
        text-align: right;
    }

    .passage {
        display: grid;
        grid-column-gap: 1rem;
        grid-template-columns: repeat(9, 1fr);
        align-items: end;
        align-items: last baseline;
        margin-bottom: 0;
        margin-inline: -1rem;
        padding-inline: 1rem;
        padding-block: 1rem;
    }

    .passage-title-wrapper {
        grid-column-end: span 4;
        justify-self: start;
    }

    .passage-title-tag {
        font-size: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: 0;
        transform: translateY(-50%) translateX(-50%);
    }

    .passage-description {
        grid-column: 6 / span 3;
        min-height: 2em;
        margin-bottom: 0;
    }
}

@media (min-width: 1146px) {
    .nav__credit {
        grid-column-start: 6;
    }

    .passage-list {
        grid-column-end: span 8;
    }

    .passage {
        grid-template-columns: repeat(8, 1fr);
        min-height: 4rem;
    }

    .passage-title-wrapper {
        grid-column-end: span 4;
    }

    .passage-description {
        grid-column-start: 5;
        grid-column-end: span 3;
        transition: all .2s;
        opacity: 0;
        filter: blur(.5rem);
    }

    .social-icons {
        grid-column-end: span 1;
        transition: all .2s;
        opacity: 0;
        filter: blur(.25rem);
    }

    .passage-link:has(~ .social-icons:hover)~.passage-description {
        opacity: 1;
        filter: blur(0);
    }

    .passage-link:is(:hover, :active, :focus, :focus-within)~.passage-description {
        opacity: 1;
        filter: blur(0);
    }

    .passage-link:is(:hover, :active, :focus, :focus-within)~.social-icons,
    .social-icons:is(:hover, :active, :focus-within) {
        opacity: 1;
        filter: blur(0);
    }
}